h1 {
  font-family: 'Hina Mincho', serif;
}

h2{
  font-family: 'Hina Mincho', serif;
}

h3{
  font-family: 'Hina Mincho', serif;
}

head{
  font-family: 'Hina Mincho', serif;
}

header{
  font-family: 'Hina Mincho', serif;
  color: rgb(255, 0, 0);
}

body{
  font-family: 'Hina Mincho', serif;
}

header nav {
  font-family: 'Hina Mincho', serif;
  display: inline;
  justify-content: flex-end;
  color: rgb(255, 0, 0);
}

p {
  margin: 10px;
  color: rgb(255, 0, 0);
}

section{
  font-family: 'Hina Mincho', serif;
}


section.jumbotron.Cherries {
  text-align: center;
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff
  height: 500px
  text-shadow: 0.25px 0.25px 0.25px #000000
}

section.jumbotron.Town {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 500px
  text-shadow: 0.25px 0.25px 0.25px #000000
}

section.jumbotron.Robin {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 500px
  text-shadow: 0.25px 0.25px 0.25px #000000
}

#Cherries{
  background-image: url("cherries.jpg");
  color: rgb(255, 200, 100);
}

#Town{
  background-image: url("town.jpg");
  color: rgb(255, 200, 100);
}

#Robin{
  background-image: url("robin.jpg");
  color: rgb(255, 200, 100);
}
